#include "./common/common.keymap"

/ {
    behaviors {
        numbersTap: numbersTap {
            compatible = "zmk,behavior-tap-dance";
            label = "NUMBERSTAP";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&mo 3>;
        };

        shiftHold: shiftHold {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFTHOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&gresc     &kp Q        &kp W             &kp E  &kp R        &kp T  &kp Y        &kp U  &kp I      &kp O      &kp P                    &kp BACKSLASH    &kp BSPC
&kp TAB    &kp A        &kp S             &kp D  &kp F        &kp G  &kp H        &kp J  &kp K      &kp L      &kp SEMI                 &kp RET
&kp LSHFT  &kp Z        &kp X             &kp C  &kp V        &kp B  &kp N        &kp M  &kp COMMA  &kp DOT    &shiftHold RSHIFT SLASH  &lt 4 RIGHT_GUI
           &numbersTap  &kp LEFT_CONTROL         &lt 2 SPACE         &lt 1 SPACE                    &kp RCTRL  &kp RIGHT_ALT
            >;
        };

        layer1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &kp HOME       &kp UP_ARROW  &kp END    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &kp LEFT       &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp PAGE_UP  &kp PAGE_DOWN  &kp DEL       &kp INS    &trans  &trans
        &trans  &trans          &trans          &trans                                    &trans     &trans
            >;
        };

        layer2 {
            bindings = <
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp EQUAL          &kp SINGLE_QUOTE  &trans
&trans     &trans           &trans       &trans    &trans      &kp AMPERSAND  &kp ASTERISK  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans     &trans           &trans       &trans    &trans      &trans         &trans        &trans                &trans                 &trans            &kp SLASH          &trans
           &trans           &trans                 &trans                     &trans                                                     &trans            &trans
            >;
        };

        layer3 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans  &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans
&trans  &trans  &trans  &trans  &trans   &kp NUMBER_0   &kp NUMBER_7  &kp NUMBER_8        &kp NUMBER_9        &trans        &trans  &trans
        &trans  &trans          &trans            &trans                                    &trans        &trans
            >;
        };

        layer4 {
            bindings = <
&trans  &device_bt1 0 0  &device_bt2 0 1  &device_bt3 0 2  &trans  &trans  &trans  &trans  &trans             &trans        &trans      &trans  &trans
&trans  &Device_USB  &trans        &trans  &trans  &trans  &trans  &trans  &trans             &trans        &trans      &trans
&trans  &bootloader_reset 0 0  &trans        &trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp K_MUTE  &trans
        &trans  &kp LEFT_GUI          &trans          &trans                             &trans        &trans     
            >;
        };
    };
};
